<!DOCTYPE html>
<html>
  <head>
    <title>The Best Rock Paper Scissor Ever</title>
  </head>
  <body>
    <h1>Rock Paper Scissor!</h1>
    <h2>Do you have what it takes to win?</h2>
    <%= yield %>
    <div class="score_box player">Player: 0</div>
    <div class="score_box computer">Computer: 0</div>
  </body>
</html>